{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>
  <body>
    <!-- Recomendation -->
    <section>
      <div class="container">
        <br>
        <img class="img-responsive center-block" src="{% static 'image/fil.png'%}"><br>

        <div class="row">
            <form method="get" name="sort-btn" action="/bot_search/">
              <div class="col-sm-7 col-sm-offset-3">
                <input type="text" name="query" placeholder="Search" style="width:75%">
                <button type="submit">Search</button>
              </div>

              {% if ans %}
                <h4 class="pad col-sm-12 alert alert-info">
                  <strong>Recommendation Film for Film {{query}} :</strong>
                </h4>
                  {% for i in ans %}
                  <div class="col-sm-3">
                    <div class="thumbnail">
                      <h5 class="text-center">{{i.book_title}}</h5>
                      <a><img src="{{i.image_url}}" alt="NOT FOUND" style="width:60%"></a>         
                    </div>
                  </div>
                  {% endfor %}
              {% endif %}
            </form>
        </div>
      </div>
    </section>
    <!-- Akhir Recommendation -->

    <!-- Footer -->
    <footer class="navbar-fixed-bottom">
      <div class="text-center">© 2020 Copyright :
        <a href="https://github.com/Vputri"> VIKA PUTRI ARIYANTI</a>
      </div>
    <!-- Akhir Footer -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>
